.forumeye-addon{list-style-image:url("chrome://forumeye/skin/icone/forum/addon.png"); }
.forumeye-f_3ds{list-style-image:url("chrome://forumeye/skin/icone/forum/f_3ds.png"); }
.forumeye-f_achiev{list-style-image:url("chrome://forumeye/skin/icone/forum/f_achiev.png"); }
.forumeye-f_anime{list-style-image:url("chrome://forumeye/skin/icone/forum/f_anime.png"); }
.forumeye-f_anime_j{list-style-image:url("chrome://forumeye/skin/icone/forum/f_anime_j.png"); }
.forumeye-f_ap{list-style-image:url("chrome://forumeye/skin/icone/forum/f_ap.png"); }
.forumeye-f_apple{list-style-image:url("chrome://forumeye/skin/icone/forum/f_apple.png"); }
.forumeye-f_beat{list-style-image:url("chrome://forumeye/skin/icone/forum/f_beat.png"); }
.forumeye-f_clan{list-style-image:url("chrome://forumeye/skin/icone/forum/f_clan.png"); }
.forumeye-f_dream{list-style-image:url("chrome://forumeye/skin/icone/forum/f_dream.png"); }
.forumeye-f_ds{list-style-image:url("chrome://forumeye/skin/icone/forum/f_ds.png"); }
.forumeye-f_eyechie{list-style-image:url("chrome://forumeye/skin/icone/forum/f_eyechie.png"); }
.forumeye-f_fumet{list-style-image:url("chrome://forumeye/skin/icone/forum/f_fumet.png"); }
.forumeye-f_giochi{list-style-image:url("chrome://forumeye/skin/icone/forum/f_giochi.png"); }
.forumeye-f_hentay{list-style-image:url("chrome://forumeye/skin/icone/forum/f_hentay.png"); }
.forumeye-f_home{list-style-image:url("chrome://forumeye/skin/icone/home.png"); }
.forumeye-f_home_pc{list-style-image:url("chrome://forumeye/skin/icone/forum/f_home_pc.png"); }
.forumeye-f_hw{list-style-image:url("chrome://forumeye/skin/icone/forum/f_hw.png"); }
.forumeye-f_ironic{list-style-image:url("chrome://forumeye/skin/icone/forum/ironic.png"); }
.forumeye-f_libero{list-style-image:url("chrome://forumeye/skin/icone/forum/f_libero.png"); }
.forumeye-f_market{list-style-image:url("chrome://forumeye/skin/icone/forum/f_market.png"); }
.forumeye-f_matrimonio{list-style-image:url("chrome://forumeye/skin/icone/forum/f_matrimonio.png"); }
.forumeye-f_mobile{list-style-image:url("chrome://forumeye/skin/icone/forum/f_mobile.png"); }
.forumeye-f_motori{list-style-image:url("chrome://forumeye/skin/icone/forum/f_motori.png"); }
.forumeye-f_movie{list-style-image:url("chrome://forumeye/skin/icone/forum/f_movie.png"); }
.forumeye-f_music{list-style-image:url("chrome://forumeye/skin/icone/forum/f_music.png"); }
.forumeye-f_news{list-style-image:url("chrome://forumeye/skin/icone/forum/f_news.png"); }
.forumeye-f_pctech{list-style-image:url("chrome://forumeye/skin/icone/forum/f_pctech.png"); }
.forumeye-f_ps3{list-style-image:url("chrome://forumeye/skin/icone/forum/f_ps3.png"); }
.forumeye-f_psp{list-style-image:url("chrome://forumeye/skin/icone/forum/f_psp.png"); }
.forumeye-f_rece{list-style-image:url("chrome://forumeye/skin/icone/forum/f_rece.png"); }
.forumeye-f_retro{list-style-image:url("chrome://forumeye/skin/icone/forum/f_retro.png"); }
.forumeye-f_rpg{list-style-image:url("chrome://forumeye/skin/icone/forum/f_rpg.png"); }
.forumeye-f_serial{list-style-image:url("chrome://forumeye/skin/icone/forum/f_serial.png"); }
.forumeye-f_soccer{list-style-image:url("chrome://forumeye/skin/icone/forum/f_soccer.png"); }
.forumeye-f_tetteye{list-style-image:url("chrome://forumeye/skin/icone/forum/f_tetteye.png"); }
.forumeye-f_tiger{list-style-image:url("chrome://forumeye/skin/icone/forum/f_tiger.png"); }
.forumeye-f_tips{list-style-image:url("chrome://forumeye/skin/icone/forum/f_tips.png"); }
.forumeye-f_tornei{list-style-image:url("chrome://forumeye/skin/icone/forum/f_tornei.png"); }
.forumeye-f_trofeo{list-style-image:url("chrome://forumeye/skin/icone/forum/trofeo.png"); }
.forumeye-f_vetrina{list-style-image:url("chrome://forumeye/skin/icone/forum/f_vetrina.png"); }
.forumeye-f_videog{list-style-image:url("chrome://forumeye/skin/icone/forum/videog.png"); }
.forumeye-f_visual{list-style-image:url("chrome://forumeye/skin/icone/forum/f_visual.png"); }
.forumeye-f_x360{list-style-image:url("chrome://forumeye/skin/icone/forum/f_x360.png"); }
.forumeye-forum{list-style-image:url("chrome://forumeye/skin/icone/forum.png"); }
.forumeye-forumset{list-style-image:url("chrome://forumeye/skin/icone/forumset.png"); }