@import url('forum.css');
.forumeye-news{list-style-image:url("chrome://forumeye/skin/icone/news.png");font-weight:bold;}
.forumeye-360{list-style-image:url("chrome://forumeye/skin/icone/360.png");}
.forumeye-3ds{list-style-image:url("chrome://forumeye/skin/icone/3ds.png");}
.forumeye-android{list-style-image:url("chrome://forumeye/skin/icone/android.png");}
.forumeye-anime{list-style-image:url("chrome://forumeye/skin/icone/anime.png");}
.forumeye-attach{list-style-image:url("chrome://forumeye/skin/icone/attach.png");}
.forumeye-avatar{list-style-image:url("chrome://forumeye/skin/icone/avatar.png");}
.forumeye-blog{list-style-image:url("chrome://forumeye/skin/icone/blog.png");}
.forumeye-cinema{list-style-image:url("chrome://forumeye/skin/icone/cinema.png");}
.forumeye-cp{list-style-image:url("chrome://forumeye/skin/icone/cp.png");}
.forumeye-date{list-style-image:url("chrome://forumeye/skin/icone/date.png");}
.forumeye-den{list-style-image:url("chrome://forumeye/skin/icone/den.png");}
.forumeye-dvd{list-style-image:url("chrome://forumeye/skin/icone/dvd.png");}
.forumeye-evento{list-style-image:url("chrome://forumeye/skin/icone/event.png");font-weight:bold;}
.forumeye-eventoN{list-style-image:url("chrome://forumeye/skin/icone/event.png");}
.forumeye-eventoL{list-style-image:url("chrome://forumeye/skin/icone/loader.gif");}
.forumeye-eyer{list-style-image:url("chrome://forumeye/skin/icone/eyer.png");}
.forumeye-eyewidget{list-style-image:url("chrome://forumeye/skin/icone/eyewidget.png");}
.forumeye-face{list-style-image:url("chrome://forumeye/skin/icone/face.png");}
.forumeye-faq{list-style-image:url("chrome://forumeye/skin/icone/faq.png");}
.forumeye-foto{list-style-image:url("chrome://forumeye/skin/icone/foto.png");}
.forumeye-friend{list-style-image:url("chrome://forumeye/skin/icone/friend.png");}
.forumeye-games{list-style-image:url("chrome://forumeye/skin/icone/games.png");}
.forumeye-home{list-style-image:url("chrome://forumeye/skin/icone/home.png");font-weight:bold;}
.forumeye-multi{list-style-image:url("chrome://forumeye/skin/icone/home.png");}
.forumeye-homepage{list-style-image:url("chrome://forumeye/skin/icone/homepage.png");}
.forumeye-info{list-style-image:url("chrome://forumeye/skin/icone/info.png");}
.forumeye-iphone{list-style-image:url("chrome://forumeye/skin/icone/iphone.png");}
.forumeye-lock{list-style-image:url("chrome://forumeye/skin/icone/lock.png");}
.forumeye-mail{list-style-image:url("chrome://forumeye/skin/icone/mail.png");}
.forumeye-mailaddr{list-style-image:url("chrome://forumeye/skin/icone/mailaddr.png");}
.forumeye-name{list-style-image:url("chrome://forumeye/skin/icone/name.png");}
.forumeye-options{list-style-image:url("chrome://forumeye/skin/icone/options.png");}
.forumeye-pc{list-style-image:url("chrome://forumeye/skin/icone/pc.png");}
.forumeye-podcast{list-style-image:url("chrome://forumeye/skin/icone/podcast.png");}
.forumeye-portal{list-style-image:url("chrome://forumeye/skin/icone/portal.png");}
.forumeye-profile{list-style-image:url("chrome://forumeye/skin/icone/profile.png");}
.forumeye-ps3{list-style-image:url("chrome://forumeye/skin/icone/ps3.png");}
.forumeye-ps4{list-style-image:url("chrome://forumeye/skin/icone/ps4.png");}
.forumeye-psp{list-style-image:url("chrome://forumeye/skin/icone/psp.png");}
.forumeye-reg{list-style-image:url("chrome://forumeye/skin/icone/reg.png");}
.forumeye-rss{list-style-image:url("chrome://forumeye/skin/icone/rss.png");}
.forumeye-retro{list-style-image:url("chrome://forumeye/skin/icone/retro.png");}
.forumeye-serial{list-style-image:url("chrome://forumeye/skin/icone/serial.png");}
.forumeye-sign{list-style-image:url("chrome://forumeye/skin/icone/sign.png");}
.forumeye-subscr{list-style-image:url("chrome://forumeye/skin/icone/subscr.png");}
.forumeye-subscrblog{list-style-image:url("chrome://forumeye/skin/icone/subscrblog.png");}
.forumeye-subscrtopic{list-style-image:url("chrome://forumeye/skin/icone/subscrtopic.png");}
.forumeye-subscrforum{list-style-image:url("chrome://forumeye/skin/icone/subscrforum.png");}
.forumeye-tech{list-style-image:url("chrome://forumeye/skin/icone/tech.png");}
.forumeye-tornei{list-style-image:url("chrome://forumeye/skin/icone/tornei.png");}
.forumeye-twit{list-style-image:url("chrome://forumeye/skin/icone/tw.png");}
.forumeye-utenti{list-style-image:url("chrome://forumeye/skin/icone/utenti.png");}
.forumeye-webtv{list-style-image:url("chrome://forumeye/skin/icone/webtv.png");}
.forumeye-wii{list-style-image:url("chrome://forumeye/skin/icone/wii.png");}
.forumeye-x1{list-style-image:url("chrome://forumeye/skin/icone/x1.png");}
.forumeye-yout{list-style-image:url("chrome://forumeye/skin/icone/yout.png");}
/* Toolbar */
#ee-button{list-style-image:url("chrome://forumeye/skin/icone/home_big.png");}
toolbar[iconsize="small"] #ee-button{list-style-image:url("chrome://forumeye/skin/icone/home.png");}